.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .footer-content {
    display: flex;
    flex-direction: column;
    background-color: #339989;
    width: 100%;
    height: fit-content;
  }

  & .footer-logo {
    width: 15dvw;
    height: auto;
    position: relative;
    left: 2.5dvw;
  }

  & .footer-links {
    display: flex;
    font-size: 2.5dvh;
    gap: 20px;
    position: relative;
    bottom: 10dvh;
    left: 20dvw;
    width: fit-content;
  }

  & a {
    text-decoration: none;
    color: #fffafb;
  }
}