.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0c1329;

  & .footer-content {
    display: flex;
    flex-direction: column;
    background-color: #0d183a;
    width: 100%;
    height: fit-content;
  }

  & .footer-logo {
    width: 15dvw;
    height: auto;
    position: relative;
    left: 10dvw;
    bottom: 3dvh;
  }

  & .footer-links {
    display: flex;
    flex-direction: column;
    font-size: 2.5dvh;
    gap: 20px;
    position: relative;
    bottom: 10dvh;
    left: 30dvw;
    width: fit-content;
  }

  & .footer-links--link {
    transition: 0.2s ease-in-out;

    &:hover {
      color: #ffffff;
      text-decoration: underline;
    }
  }

  & a {
    text-decoration: none;
    color: #ccced5;
  }
}