.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90dvh;
  padding: 1dvh;
  text-align: center;
  background: url("../assets/homeimg.png") no-repeat center center fixed;
  background-size: cover;
  z-index: 0;
}

.home-text {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h1 {
    color: #c8fff4;
    font-size: 3.5dvw;
  }

  & p.home-text1 {
    color: #8dc2b7;
    font-size: 3dvw;
    margin: 10px 0;
  }

  & p.home-text2 {
    color: #a79fca;
    font-size: 2dvw;
    margin: 10px 0;
    padding: 10px 20px;
    font-weight: bold;
  }
}

.additional-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4dvw;

  text-align: center;

  background-color: #0d183a;

  p {
    margin: 20px 0;
    padding: 10px 20px;

  }

  .additional-info-text1 {
    color: #c8fff4;
    font-size: 3.5vw;
  }

  .additional-info-text2 {
    color: #a79fca;
    font-size: 2.2vw;
  }

  img {
    margin: 0 20px;
    width: 50%;
    height: auto;
  }
}

.trapezioinvertido {
  width: 100%;
  height: 0;
  border-bottom: 70px solid #0c1329;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  rotate: 180deg;
  display: block;
  margin: 0;
  padding: 0;
  background-color: #0d183a;
}

.trapezio {
  width: 100%;
  height: 0;
  border-bottom: 70px solid #0c1329;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  display: block;
  margin: 0;
  padding: 0;
  background-color: #0d183a;
}