::-webkit-scrollbar {
    display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.navbar {
  background-color: #339989;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fffafb;
  width: 100%;
  height: 60px;
  padding: 10px;

  & .navbar-logo {
    margin: 10px;
    width: 100px;
    height: 100px;
  }

  & .navbar-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
  }

  & a {
    text-decoration: none;
    color: #fffafb;
  }
}

b {
  color: #7de2d1;
}

/* .text-1 {
  color: #a79fca;
} */

.text-2 {
  color: #c8fff4;
}

/* .text-3 {
  color: #8dc2b7;
} */

.text-4 {
  color: #7de2d1;
}

/* .background-1 {
  background-color: #2b2c28;
} */

/* .background-2 {
  background-color: #0c1329;
} */

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #131515;
  color: #fffafb;
  font-size: 2rem;
}

.alert-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: #c8fff4;
  padding: 10px;

  p {
    width: 100px;
    font-size: 1.1em;
  }

}