html {
  scroll-behavior: smooth;
  scrollbar-color: #20385c #0c1329;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.navbar {
  background-color: #20385c;

  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ccced5;
  width: 100%;
  height: 70px;
  padding: 10px;

  & .navbar-logo {
    margin: 10px;
    width: 100px;
    height: 100px;
  }

  & .navbar-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
  }

  & a {
    text-decoration: none;
    color: white;
  }


}

b {
  color: #a773ff;
}

.text-1 {
  color: #a79fca;
}

.text-2 {
  color: #c8fff4;
}

.text-3 {
  color: #8dc2b7;
}

.text-4 {
  color: #a773ff;
}

.background-1 {
  background-color: #0d183a;
}

.background-2 {
  background-color: #0c1329;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0c1329;
  color: #ccced5;
  font-size: 2rem;
}