.modules-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10vh;
}

.modules-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10vh;

  & .title {
    font-size: 3.5dvw;
  }

  & .subtitle {
    padding-top: 3rem;
    font-size: 2dvw;

  }
}