@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.lesson-content__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20dvh;
  padding-left: 6dvw;
  padding-right: 6dvw;
  background-color: white;
  font-size: 1.5rem;
  text-align: justify;

  .info-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  ol {
    list-style-position: inside;

    li {
      font-family: "Open Sans", sans-serif;
    }
  }

  h1 {
    color: #000000;
    margin: 20px 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  li {
    font-family: "Open Sans", sans-serif;
    line-height: 40px;
  }

  h2 {
    color: #339989;
    margin: 20px 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
  }

  p {
    margin: 20px 0;
    font-weight: normal;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  strong {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  }

  ul {
    list-style-position: inside;
    padding: 20px;

    li {
      margin-top: 20px;
    }
  }

  .last-section {
    margin-bottom: 6vh;
    background-color: #7de2d1;
    padding: 30px;
    border-radius: 25px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.gotoQuestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20dvw;
  background-color: #0c1329;
  height: 25dvh;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  gap: 60px;
}