.question-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: 600px;
  height: 60dvh;
}

.question-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;

}

.question-text {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #c8fff4;
  text-align: left;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;

}

.option {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  color: #c8fff4;
  margin: 1rem;
  background-color: #0c1329;
  border-radius: 10px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #283969;
  }


}

input:enabled {
  background-color: #1a1f3c;
}

li::marker {
  color: #a773ff;
  font-size: 3rem;
  font-weight: bold;

}

.submission-button {
  background-color: #8dc2b7;
  color: #0c1329;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #bcf8ec;
    color: #0c1329;
  }
}